/* green - #43a047, yellow - #fdd835, red - #e53935 */

.root {
  display: flex;
}

.loadingDialog .title {
  text-align: center;
}

.loadingDialog .progress {
  overflow: hidden;
  padding: 24px 48px 48px;
}

.root .appBar {
  z-index: 1201;
}

.root .appBar .appBarTitle {
  flex-grow: 1;
}

.root .appBar .logoutButton {
  margin-right: 8px;
}

.root .appBar.shift {
  /* margin-left: 240px;
  width: calc(100% - 240px); */
}

.root .drawer {
  height: 100%;
  width: 275px;
  flex-shrink: 0;
  overflow-x: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: fixed;
  z-index: 1;
}

.root .drawer .drawerHead {
  min-height: 64px;
}

.root .drawer .teamListItemText {
  padding-right: 0;
}

.root .drawer .teamListItemText > p {
  /* max-width: 150px; */
}

.root .drawer .teamLinkButton {
  align-self: center;
  color: rgba(0, 0, 0, 0.54);
}

.root .drawer .teamListHeadingText {
  text-align: center;
}

.root .drawer .leagueNameText {
  display: inline;
}

.root .drawer .paper {
  width: 275px;
  position: relative;
  overflow-x: hidden;
}

.root .drawer .paper.close {
  white-space: nowrap;
}

.root .drawer.open {
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 275px;
}

.root .drawer.close {
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
  width: 73px;
}

.root .drawer.close .teamListItemText {
  /* display: none; */
}

.root .appBar .toolbar {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.root .appBar .toolbar .menuButton {
  margin-left: 0px;
  margin-right: 12px;
}

.content {
  padding: 24px;
  flex-grow: 1;
  margin-left: 73px;
  transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content.shift {
  margin-left: 275px;
}

.content .contentSpacer {
  min-height: 48px;
}

.content .statTotalsExpansionPanel {
  margin: 8px 0;
  border-radius: 4px;
}

.content .statTotalsExpansionPanel::before {
  opacity: 0;
}

.diff.positive {
  color: #43a047;
}
.diff.negative {
  color: #e53935;
}
.diff.neutral {
  color: rgba(0, 0, 0, 0.54);
}

.content .statTotalsHeading {
  flex-basis: 33.3%;
  flex-shrink: 0;
}

.content .statTotalsSecHeading {
  color: rgba(0, 0, 0, 0.54);
}

.content .statTotalsExpansionDetails {
  flex-direction: column;
}

.content .formControl {
  margin: 0px 0px 16px;
}

.content .select {

}

.content .datePicker {
  margin: 0px 16px 16px;
}

.teamsListContainer {
  display: none;
  height: calc(100% - 32px);
  margin: 16px;
  overflow: auto;
  flex-shrink: 0;
}

.teamImage > img {
  width: 112px;
  height: 112px;
}

.rosterTableContainer {
  flex-grow: 1;
  padding: 16px;
  overflow-x: auto;
  min-width: 500px;
}

.rosterTableContainer .optimizationType {
  display: inline-block;
  padding: 8px;
}

.rosterTableContainer table {
  border-spacing: 0;
  text-align: center;
}

.rosterTableContainer table th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.rosterTableBackground {
  overflow-y: auto;
  height: 600px;
}

.rosterTableContainer .statTotalItem {
  padding: 8px;
}

.rosterTableContainer .statTotalItem > div {
  display: inline-block;
}

.teamsListItem {
  margin: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.teamsListItem:hover, .teamsListItem.selected {
  background-color: #DDDDDD;
}

.rosterTableItem {
  height: 50px;
}


.rosterTableItem.bench {
  background-color: #DDDDDD;
}

.rosterTableItem.moved td {
  font-weight: bold;
}

.rosterTableItem td.green {
  color: #43a047;
}

.rosterTableItem td.red {
  color: #e53935;
}

.playerInfoCell {
  min-width: 132px;
}

.playerInfoCellSub {
  display: flex;
}

.playerInfoCellSub .playerInfoImage {
  margin: 4px 0;
  position: static;
}

.playerInfoText {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.playerInfoText .name {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.playerInfoText .posList {
  flex-grow: 1;
  display: flex;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.54);
  align-items: flex-start;
}
